<div>
    <header>
        <h1>Depoimentos</h1>
    </header>
    <section id="testimonies">

        {{itens}}

    </section>
    <section id="form">
        <h3>Envie seu depoimento</h3>
        <form action="?page=1" method="post">

            <div id="nome-autor" class="form-floating mb-3">
                <input type="text" class="form-control" name="nome" placeholder="Nome completo" required>
                <label for="nome">Nome completo</label>
            </div>

            <div id="depoimento-texto" class="form-floating mb-3">
                <textarea class="form-control" id="mensagem-depoimento" name="mensagem" style="resize: none; height: 200px;" placeholder="Escreva seu depoimento" required></textarea>
                <label for="mensagem-depoimento">Depoimento</label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Enviar depoimento</button>
            </div>

        </form>
    </section>
</div>